
.user_info {
  display: flex;
  align-items: left;
  margin-bottom: 20px;
}

.user_info_text {
font-size: 1.5em;
margin-top: 100px;
margin-left: 20px;
}
.current_grade {
  color: white;
  background-color: rgb(26, 175, 175);
  border-radius: 5px;
  padding: 2px 5px;
}
.current_grade.high-school {
  background-color: rgb(15, 211, 103);
}

.curriculum_item {
  display: flex;
  align-items: center;
}

.status_space {
  display: inline-block;
  width: 30px;
  color: red;
  font-size: 0.5em;
  font-weight: bold;
}

.curriculum_title {
  display: inline-block;
}


.curriculum_progress {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 1行に3つ */
  gap: 24px;
  align-items: start;
}

.curriculum_progress_item_title {
  display: inline-block;
  color: white;
  background-color: rgb(26, 175, 175);
  border-radius: 5px;
  padding: 5px 5px;
}

.curriculum_progress_item_title.high-school {
  background-color: rgb(15, 211, 103);
}
